{% extends 'base.html.twig' %}
{% block body %}

<div class="main-content">
                    <div class="container-fluid">
                        <div class="page-header">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="ik ik-edit bg-blue"></i>
                                        <div class="d-inline">
                                            <h5>Creez un auteur</h5>
                                            <span>Creez ici l' auteur</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="../index.html"><i class="ik ik-home"></i></a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#">Create</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Auteur</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"><h3>Creez un auteur</h3></div>
                                    <div class="card-body">
                                      
                                          {{form_start(form_auteur)}}
                                            <div class="form-group">
                                               
                                               
                                                  {{form_row(form_auteur.nom,{'attr':{'placeholder':"Nom de l'auteur",'autocomplete':"off",'class':"form-control"}})}}
                                                 
                                            </div>

                                             <div class="form-group">
                                               
                                               
                                                  {{form_row(form_auteur.password,{'attr':{'placeholder':"mot de passe",'autocomplete':"off",'class':"form-control"}})}}
                                                 
                                            </div>
                                          
                                             <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
                                            <button class="btn btn-light">Cancel</button>
                                      
                                           

                                  



                                            {{form_end(form_auteur)}}
                                          
                                    </div>
                                </div>
                            </div>

                        
                        </div>

                      

                      
                    </div>
                </div>

{% endblock %}