{% extends 'base.html.twig' %}

{% block title %}Liste articles{% endblock %}

{% block body %}
<div class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-file-text bg-blue"></i>
                        <div class="d-inline">
                            <h5>Article</h5>
                            <span>Trouvez des articles</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="../index.html"><i class="ik ik-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Pages</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Articles</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12 col-md-7">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                               <h2>{{article.titre}}</h2>
                            </div>
                            
                        </div>
                    </div>
                   
                </div>
            </div>


            <div class="col-lg-12 col-md-7">
                <div class="card">
                    
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="current-month" role="tabpanel" aria-labelledby="pills-timeline-tab">
                            <div class="card-body">
                                <div class="profiletimeline mt-0">
                    

                                <div class="sl-item">
                                    <div class="sl-left"> <img src="{{ asset("blog_maasil/img/users/4.jpg")}}" alt="user" class="rounded-circle" /> </div>
                                    <div class="sl-right">
                                        <div><a href="javascript:void(0)" class="link">{{article.auteur.nom}}</a> <span class="sl-date">{{article.datedecreation | date('d/m/Y')}} a {{article.datedecreation | date('H:i')}}</span>

                                            
                                            <blockquote class="mt-10">
                                                  {{article.texte}}
                                            </blockquote>
                                        </div>
                                        
                                    </div>
                                </div>
                                <hr>
                     

                                                 
                                
                                     
                               
                               
                                
                                </div>
                           
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
