{% extends 'base.html.twig' %}

{% block title %}Liste articles{% endblock %}

{% block body %}
<div class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-file-text bg-blue"></i>
                        <div class="d-inline">
                            <h5>Article</h5>
                            <span>Trouvez des articles</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="../index.html"><i class="ik ik-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Pages</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Articles</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12 col-md-7">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                 <a href="{{path("create_article")}}" class="btn btn-success align-self-lg-center">Creer un article</a>
                            </div>
                            <div class="col-6">
                                 <a href="{{path("create_auteur")}}" class="btn btn-primary align-self-lg-center">Creer un Auteur</a>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>


            <div class="col-lg-12 col-md-7">
                <div class="card">
                    <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-timeline-tab" data-toggle="pill" href="#current-month" role="tab" aria-controls="pills-timeline" aria-selected="true">Articles recents</a>
                        </li>
                        
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="current-month" role="tabpanel" aria-labelledby="pills-timeline-tab">
                            <div class="card-body">
                                <div class="profiletimeline mt-0">
                     {% for article in articles %}

                                <div class="sl-item">
                                    <div class="sl-left"> <img src="{{ asset("blog_maasil/img/users/4.jpg")}}" alt="user" class="rounded-circle" /> </div>
                                    <div class="sl-right">
                                        <div><a href="javascript:void(0)" class="link">{{article.auteur.nom}}</a> <span class="sl-date">{{article.datedecreation | date('d/m/Y')}} a {{article.datedecreation | date('H:i')}}</span>
                                            <blockquote class="mt-10">
                                                  {{article.titre}}
                                            </blockquote>
                                        </div>
                                        <div class="like-comm mt-20">
                                            <div class="row">
                                                <div class="col-6">

                                                </div>
                                                <div class="col-6 text-right">

                                                    <a href="{{path("details_article",{'id':article.id})}}" class="mr-10 btn btn-success "> Voir</a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <hr>
                       {% endfor %}


                                                 
                                
                                     
                               
                               
                                
                                </div>
                           
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
